#nbFrontPage{
    #container{
        width:100%;
        position: relative;
        overflow: visible;
        margin-bottom: 80px;

        #box{
            height: 100px;
            width: 50%;
            max-width: 579px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color:#d5d3c4;
            z-index:999;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 50% 50%;

            &>div{
                height: 100px;
                display: flex;

                &>img{
                    padding: 5%;
                }
            }
        }
    }

    #nbAboutUs:first-letter{
        @extend .heroFont;
        font-size: 50px;
        float: left;
        font-size: 6rem;
        line-height: 0.65;
    }

    @media only screen and (max-width: 995px) {
        #container{
            #box{
                width: 70%;

                p{
                    font-size: 12px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        #container{
            margin: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            #box{
                height: fit-content;
                width: 90% !important;
                max-width: unset;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr;
                position: relative !important;
                left: unset !important;
                height: unset !important;
                transform: translate(0, 0) !important;

                &>div{
                    flex-direction: column;
                    height: unset !important;
                    padding:10px;

                    img{
                        padding: 5%;
                        aspect-ratio:1/1;
                    }
                }
            }
        }
    }

    #box>div>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #box>div h3{
        @extend .heroFont;
        margin:0px;
    }

    #box>div p{
        @extend .primaryFont;
        font-size:14px;
        margin-bottom: 0;
    }
}