#nbFrontPage{
    #container{
        width:100%;
        position: relative;
        overflow: visible;
        margin-bottom: 80px;

        #box{
            height: 100px;
            width: 50%;
            max-width: 579px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color:#d5d3c4;
            z-index:999;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 50% 50%;

            &>div{
                height: 100px;
                display: flex;

                &>img{
                    padding: 5%;
                }
            }
        }
    }

    #nbAboutUs:first-letter{
        @extend .heroFont;
        font-size: 50px;
        float: left;
        font-size: 6rem;
        line-height: 0.65;
    }

    @media only screen and (max-width: 995px) {
        #container{
            #box{
                width: 70%;

                p{
                    font-size: 12px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        #container{
            margin: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            #box{
                height: fit-content;
                width: 90% !important;
                max-width: unset;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr;
                position: relative !important;
                left: unset !important;
                height: unset !important;
                transform: translate(0, 0) !important;

                &>div{
                    flex-direction: column;
                    height: unset !important;
                    padding:10px;

                    img{
                        padding: 5%;
                        aspect-ratio:1/1;
                    }
                }
            }
        }
    }

    #box>div>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #box>div h3{
        @extend .heroFont;
        margin:0px;
    }

    #box>div p{
        @extend .primaryFont;
        font-size:14px;
        margin-bottom: 0;
    }

    #nbProductsIntro{

        img{
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2{
            @extend .heroFont;
            font-size: 55px;
            border-bottom: 2px solid $primaryColor;
            display: inline-block;
            text-align: center;
            color: $primaryColor;
        }

        h3{
            @extend .primaryFont;
            font-size: 40px;
            margin: 0;
            margin-top: 20px;
            
        }

        h5{
            @extend .heroFont;
            font-size: 40px;
            color: $primaryColor
        }

        p{
            font-size: 14px;
            line-height: 25px;

            &:first-letter{
                @extend .heroFont;
                font-size: 50px;
                float: left;
                font-size: 6rem;
                line-height: 0.65;
            }
        }

        #nbFeatures{
            flex-direction: column;
            background-color: $secondaryColor;
            padding: 20px;
            border-radius: 12px;
            background-image: url('http://ankurah.com/wp-content/uploads/2025/09/pattern-9d9863.svg');

            h6{
                @extend .heroFont;
                font-size: 30px;
                margin-bottom: 10px;
            }

            li{
                @extend .primaryFont;
                font-size: 14px;
            }
        }
    }
}