nav#nbHeader{
    background-color: white !important;
    border: 1px solid $lightGray;
    height: 100px;
    position: relative;
    padding: 0 !important;
    

    #nbLogo{
        position: relative;
        text-decoration: none;
        padding: 0px 10px;
        width: 246px;

        // &:hover{
        //     background-color: $lightGray;
        //     border-radius: 10px;
        // }

        h1,p{
            text-decoration: none !important;
            color: $primaryColor;
        }

        h1{
            font-size: 55px;
            margin-bottom: 0;
        }

        img{
            width: 60%;
        }

        #tagline{
            @extend .taglineFont;
            grid-column: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 3;
            padding-left: 20px;
            display: flex;
            align-items: center;
            text-wrap: nowrap;
         
            p{
                @extend .taglineFont;
                font-size: 22px;
            }
        }
    }
    
    a{
        color: #000;

        &:hover,&:active,&:focus {
            color: $secondaryColor !important;
        }
    }

    a#nbEnquiry{
        display: flex;
        align-items: center;
        overflow: visible;
        gap: 0px;
        text-decoration: none;
        padding: 20px;

        #icon{
            border: solid 1px #505050;
            height: 30px;
            width: 30px;
            transform: rotate(45deg);
            // margin-left: 30px;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                color: $secondaryColor;
                transform: rotate(-45deg);
                font-size: 16px;
            }
        }

        #text{
            margin-left: 30px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            text-decoration: none;

            p{
                margin-bottom: 0 !important;

                &:first-of-type{
                    font-size: 20px;
                }
            }

            span{
                font-size: 12px;
                color: gray;
            }
        }

        // &:hover{
        //     background-color: $lightGray;
        //     border-radius: 10px;
            
        //     p{
        //         color: $primaryColor;
        //     }
        // }
    }

    .navbar-toggler{
        border: 2px solid $primaryColor !important;
        box-shadow: 0 0 0 0;

        span.navbar-toggler-icon{
            color: $primaryColor !important;
        }
    }

    .nav-item a{
        font-size: 12px;
        font-weight: 700;
    }
}

#nbLgMenu{
    height: 50px;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    a{
        padding: 0 10px;
        color: #fff;
        font-weight: 800;
        text-decoration: none;

        &#nbShop{
            color: #000;
            text-decoration: none;
            padding: 8px 20px;
            background-color: #fff;
            margin: 0 10px;
            border-radius: 40px;
            font-weight: 800;
        }
    }
}

@media screen and (max-width: 768px){
    nav#nbHeader{
        height: fit-content !important;

        #nbLogo{
            display: flex !important;
            align-items: center !important;
            padding: 10px !important;

            h1{
                font-size: 45px !important;
            }

            p{
                font-size: 14px !important;
                margin-bottom: 0 !important;
            }

            img{
                margin: 10px;
            }
        }
    }

    #nbLgMenu{
        height: 8px !important;

        a{
            display: none;
        }
    }

    a#nbEnquiry{
        flex-direction: column;

        #icon{
            height: 55px !important;
            width: 55px !important;
            border-radius: 12px;
            margin-bottom: 20px;

            i{
                color: $secondaryColor;
                transform: rotate(-45deg);
                font-size: 25px !important;
            }
        }

        #text{
            margin-left: 0 !important;

            p{
                text-align: center;
            }
        }
    }
}