#zsiOurStoryPage{

    p#nbFirstParagraph{
        @extend .primaryFont;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 30px;

        &::first-letter{
            @extend .heroFont;
            font-size: 6rem;
            line-height: 0.65;
            color: $primaryColor;
        }
    }
}