#bnCheckoutThankYou{
    
    h1{
        font-size: 55px;
    }

    th,td{
        @extend .primaryFont;
        font-size:  13px;
    }

    td,th{
        border-style: dashed;
        border-color: #000;
    }

    #nbInfoArea{
        background-color: $secondaryColor;
        padding: 20px;

        .col-md-3{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                @extend .heroFont;
                font-size: 35px;
                text-align: center;
            }

            &:nth-of-type(2){
                border: 1px dashed grey;
                border-width: 0 1px 0 1px;
            }
        }
    }
}