$heroColor: #d5d3c4;
$primaryColor: #384c2c;
$secondaryColor: #a4d54d;

$lightGray: #f0f0f0;

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;

a,h3,h4,h4,h5,h6,p{
    @extend .primaryFont;
}

body{
    background-color: transparent !important;
}

button:disabled{
    cursor: not-allowed;
}

.hideScroller{
    overflow-y: hidden;
}

.heroFont {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
}

.primaryFont{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.taglineFont{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
}

:root {
    color-scheme: only light;
}

.hideScroll{
    overflow: hidden;
}

label.mandatory::after{
    content: "*";
    color: red;
}

.nbHeader{
    margin-top: 40px !important;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
 
    div{
        margin-top: 10px;
        margin: 0 12px;
        height: 5px;
        width: 100px;
        background-color: $primaryColor;
    }

    p{
        @extend .primaryFont;
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0 20px 0;
    }
}

.btn{
    @extend .primaryFont;
}